<!DOCTYPE html>
<html>
<head>
    <link href="/style/style.css" rel="stylesheet" type="text/css">
    <title>Search Results</title>
</head>

<body>
    <h1>Search Results</h1>
    
    <h3><%= result.symbol %></h3>
    <h4><%= result.start_date %></h4>
    <h4><%= result.end_date %></h4>
    <h4><%= result.start_price %></h4>
    <h4><%= result.end_price %></h4>
    <h4><%= result.fluctuation %></h4>
    <h4><%= result.fluctuation_percentage %></h4>



</body>

</html>
